# Python byte-code
*.py[co]

# virutalenv directories
/env*/

# test files/directories
.coverage
.pytest_cache/
/.tox/

# setup and upload directories
/build/
/dist/
/sortedcontainers.egg-info/
/docs/_build/

# macOS metadata
.DS_Store
